BODY_SIZE_LIMIT="Infinity"
ENVIRONMENT="development"
NODE_ENV="development"
PORT="3000"
REDIS_URL="redis://localhost:6379"

PUBLIC_DATABASE="http://127.0.0.1:8090"
RESEND_API_KEY="re_9aSzUi2B_KcjXMZCaNpXKc7cWDivSEFH9" # This is a test key, replace with your actual key